# R data files
.Rproj.user
.RData
.Rhistory

*.log
log.txt

# DIR
data_test/
OUTPUT/
Figures/

# FIGURE
*.pdf
*.tif
*.emf

# ArcGIS
*.lock
*.vat.cpg
*.vat.dbf

# RESULT
RESULT/

# data
*.csv
*.xlsx
data_test/
*.rda
*.pdf
